
.mr-1, .mr-outside {
  -moz-transition: margin-right 0.4s ease-in-out;
  -o-transition: margin-right 0.4s ease-in-out;
  -webkit-transition: margin-right 0.4s ease-in-out;
  transition: margin-right 0.4s ease-in-out;
}

/* .mr-outside {
  margin-right: -50rem;
} */

.bg-white-trans {
  background: rgba(255, 255, 255, 0.7);
}

.bg-black-trans {
  background: rgba(0, 0, 0, 0.7);
}
.backdrop-blur {
  backdrop-filter: blur(10px);
}

button:focus {
  outline: none;
}

.fit-content {
  height: fit-content;
}

.min-width-icon {
  min-width: 16.6666667%;
}

.min-w-25 {
  min-width: 25rem;
}